html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Lato, sans-serif;
    min-height: 100vh;
}

body {
    padding: 0;
    font-family: Lato, sans-serif;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

header {
    height: 14vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vh;
    text-align: center;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 7vh;
    }

    .logo img {
        max-height: 100%;
        max-width: 100%;
    }

    .back, .logout {
        margin-left: 1vh;
    }

    .back img {
        width: 3vh;
    }

    .logout img {
        width: 4vh;
    }

    .imageContainer {
        display: block;
        text-align: center;
    }
}

img {
    height: auto;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.company {
    height: 30%;
    overflow: auto;
    font-size: small;
    display: flex;
    flex-direction: column;
}

.info-company{
    margin: 1vh 0 0 0;
}

.info-company p {
    margin: 0.2vh 0 0 1vh;
}

.comment-company {
    flex: 1;
    display: flex;
    align-items: center;
}

.comment-company img {
    width: 8vh;
    margin: 0 2vh;
}

.comment-company-bubble {
    text-align: center;
    position: relative;
    max-width: 400px;
    margin-right: 1vh;
    padding: 2.5vh;
    background-color: #D9D9D9;
    color: black;
    border-radius: 50%;
}

.comment-company-bubble::after {
    content: '';
    position: absolute;
    top: 20%;
    left: 0;
    border-width: 18px;
    border-style: solid;
    border-color: transparent transparent #D9D9D9 transparent;
    transform: translateX(-30%);
}

.all-scooter {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.all-scooter h2 {
    font-size: x-large;
    max-height: 14vh;
}

#info_selected_scooter {
    text-align: center;
    height: fit-content;
}

form {
    flex: 1;
    display: flex;
    flex-direction: column;

    .listScooter {
        flex: 1;
        overflow-y: auto;
        max-height: 40vh;
    }

    .scooter {
        width: 70%;
        display: flex;
        margin: 1vh auto 2vh;
        padding: 1vh;
        overflow: hidden;
        align-items: center;
        border-radius: 4vh;
        background-color: #E6E6E6;
    }

    .scooter img {
        width: 12vh;
        margin-right: 3vh;
    }

    .scooter label {
        flex-grow: 1;
        font-size: 2vh;
        font-weight: bold;
    }

    .scooter input[type="checkbox"] {
        height: 3vh;
        width: 3vh;
        margin-right: 4vh;
    }

    .scooter-info {
        flex-grow: 1;
        font-size: 2vh;
    }

    .scooter-info h3 {
        flex-grow: 1;
        font-weight: bold;
    }

    .button {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        bottom: 0;
        position: fixed;
    }

    .button input {
        background-color: #304996;
        width: auto;
        padding: 1.5vh;
        height: 7vh;
        min-height: 4vh;
        font-size: medium;
        border-radius: 3vh;
        color: white;
        border: none;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .button input:disabled {
        background-color: #686868;
    }
}

a {
    text-decoration: none;
    color: black;
}

.description-scooter {
    background-color: #E3E3E3 ;
    padding: 0.5rem;
    border-radius: 0.9375rem;
    flex-shrink: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.description-scooter h4, .scooter-action h3{
    text-align: center;
    margin: 0.8rem;
}

.description-scooter h4 {
    font-size: 1.25rem;
}

.scooter-action h3 {
    font-size: 1.75rem;
}

.description-scooter label {
    font-weight: bold;
}

.detail-input {
    margin: 0.81rem;
}

.detail-textarea {
    margin-right: 0.8rem;
    margin-left: 0.8rem;
    margin-top: 0.5rem;
    display: grid;
}

.detail-textarea textarea {
    width: 100%;
    height: 3.6rem;
    resize: none;
}

.detail-input input, .detail-textarea textarea {
    border: none;
    background-color: transparent;
}

.scooter-part, .comment-object {
    display: flex;
    width: 80%;
    margin: 0.2rem auto 0;
    padding: 0.5rem;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}

.scooter-part p {
    flex: 1;
    margin: 0.5rem;
    text-transform: capitalize;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: normal;
}

.scooter-part input[type="checkbox"] {
    width: 1.9375rem;
    height: 1.75rem;
    flex-shrink: 0;
}

.comment-object textarea {
    width: 100%;
    border: none;
    resize: none;
    padding: 0.9375rem;
    border-radius: 0.9375rem;
    background-color: #E6E6E6;
}

.info-repair {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.5rem;
    width: 90%;
}

.info-repair h4 {
    text-align: center;
    font-size: 1.25rem;
}

.info-repair li {
    font-size: 1rem;
    margin: 0.5rem;
}

